.Decentralization {
  background-color: #01273a;
}

.stat-card {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.6); /* Full border */
  border-radius: 6px;
  padding: 20px;
  text-align: left;
  overflow: hidden; /* To hide part of the number */
  

  h2 {
    font-size: 1.25rem; // text-xl equivalent
    font-weight: 600;
    color: #ffffff;
  }

  .stat-number {
    font-size: 7.75rem; // text-6xl equivalent
    font-weight: 500;
    color: #ffffff;
    position: relative;
    bottom: -20%; /* Moves the number down and hides the bottom part */
  }
}
