.CreateDAO__steps::-webkit-scrollbar {
  display: none;
}

.animate {
  position: absolute;
  animation: glow 1s linear 0s infinite forwards;
}

@keyframes glow {
  0%,
  100% {
    width: 1.75rem;
    height: 1.75rem;
  }
  50% {
    width: 2.25rem;
    height: 2.25rem;
  }
}
